/* Police*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* color
#0065FC bleu
#DEEBFF bleu claire 
#F2F2F2 gris
#ffffff  blanc

*/
head,
body {

}
#plage{
    background-image: url(./images/beach-2528635.jpg);
    background-size: cover;
    background-position: center;
    height: 94vh;
  }
.backBlue{
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
.backGrey{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 3px;
}
.iconsize {
    height: 40px;
    width: 50px;
    border-radius: 15px 0 0 15px;

}
.recherche {
    height: 40px;
    width: 150px;
    font-size: 14px;
    color: black;
    font-weight: bold;

}
